.modal {

}
.header Label {
  background-color: #795548;
  padding: 5;
  text-align: center;
  color:white;
}
.input-field Label {
  color: black;
  text-align: center;
  padding: 5;
}
.input-field {
  padding: 10;
}
Button {
  color: white;
  background-color: #A47A6A;
}
TextField {
  text-align: center;
}