<StackLayout class='modal'>
  
  <StackLayout class='header'>
    <Label text='Vaihda salasanasi'></Label>
  </StackLayout>

  <StackLayout class='form'>

    <!-- OLD PASSWORD -->
    <StackLayout class='input-field'>
      <Label text='Vanha salasana'></Label>
      <TextField [(ngModel)]='oldPassword' secure='true' class='input'></TextField>
      <StackLayout class='hr-dark'></StackLayout>
    </StackLayout>

    <!-- NEW PASSWORD -->
    <StackLayout class='input-field'>
      <Label text='Uusi salasana'></Label>
      <TextField [(ngModel)]='newPassword' secure='true' class='input'></TextField>
      <StackLayout class='hr-dark'></StackLayout>
    </StackLayout>

    <!-- NEW PASSWORD AGAIN -->
    <StackLayout class='input-field'>
      <Label text='Vahvista uusi salasana'></Label>
      <TextField [(ngModel)]='newPasswordConfirm' secure='true' class='input'></TextField>
      <StackLayout class='hr-dark'></StackLayout>
    </StackLayout>

  </StackLayout>

  <!-- CHANGE PASSWORD -BUTTON -->
  <StackLayout class='button'>
    <Button (tap)='changePassword()' text='Vaihda' class='btn btn-primary'></Button>
  </StackLayout>
</StackLayout>